[submodule "mods/quests"]
	path = mods/quests
	url = https://github.com/MinetestForFun/quests.git
[submodule "mods/fishing"]
	path = mods/fishing
	url = https://github.com/MinetestForFun/fishing.git
[submodule "mods/mff/mff_hud"]
	path = mods/mff/mff_hud
	url = https://github.com/MinetestForFun/mff_hud.git
[submodule "mods/irc_modpack"]
	path = mods/irc_modpack
	url = https://github.com/MinetestForFun/irc_modpack.git
[submodule "mods/time_regulation"]
	path = mods/time_regulation
	url = git://github.com/MinetestForFun/time_regulation.git
[submodule "mods/minercantile"]
	path = mods/minercantile
	url = https://github.com/MinetestForFun/minercantile.git
